<!-- BODY - REGISTRATION     -->
    <div class="col-sm-8 text-center runMate"> 
      <h1>Running Mate</h1>
      <h3>Tagline goes here</h3>

      <form>
        <div class="form-group text-left">
          <label for="inputEmail">Email address</label>
          <input type="email" class="form-control" id="inputEmail" placeholder="Email">
        </div>
        <div class="form-group text-left">
          <label for="inputPassword">Password</label>
          <input type="password" class="form-control" id="inputPassword" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-default">Sign In</button>
      </form>
    </div>