<!-- BODY - Log Run or View Rank -->
    <div class="col-sm-8 text-center runMate"> 
      <h1>Running Mate</h1>
      <h3>Tagline goes here</h3>
      
      <hr>
      
      <a class="btn btn-info" href="#" role="button">Log Run</a>
      <h4><strong>--- OR ---</strong></h4>
      <a class="btn btn-success" href="#" role="button">View Rankings</a>
  </div>
