<!-- BODY - Log Run -->
    <div class="col-sm-8 text-center runMate"> 
      <h1>Running Mate</h1>
      <h3>Tagline goes here</h3>
      
      <hr>
<!-- PANEL -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Log results of your recent run!</h3>
        </div>
        <div class="panel-body">
          <!-- Panel content -->
          <form>
            <select class="form-control">
              <label for="selectDistance">Select Distance</label>
              <option>5K</option>
              <option>10K</option>
              <option>1/2 Marathon</option>
              <option>Marathon</option>
            </select>

            <div class="form-group">
              <label for="inputTime">Time</label>
              <input type="email" class="form-control" id="inputTime" placeholder="Time (hh:mm:ss)">
            </div>
            <div class="form-group">
              <label for="inputCity">City</label>
              <input type="password" class="form-control" id="inputCity" placeholder="City">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
          </form>
          <!-- ^^^ Panel content ^^^ -->
        </div>
      </div>
    
    </div>
  </div>
</div>  